/* styles/main.css */

body {
	background: rgb(178,255,173);
	font-family: 'Playfair Display', serif;
}
h1 {
	color: white;
}
ol {
	font-weight: bold;
}
li {
	color: white;
}
a{
	text-decoration: none;
	color:rgb(25, 26, 25);
}
#my_bar{
	border-style: solid;
	border-color: white;
	border-radius: 15px;
	background: rgb(213, 237, 216)
}
#my_name{
	color: white;
	text-align: center;
	text-decoration: underline; 
}

.paragraph{
	border-style:solid;
	border-radius: 15px;
	margin: 20px 25px 30px 30px;
}
img {
	border-style: solid; color: white;
}
#image-float{
	float: left;
	margin:30px;
	width:385px;
	height:450px; 
}
.p-class{
	text-align:center;
	color:white;
	margin:10px;
	padding:15px;
}
#div-float{
	overflow:auto;
	border:solid 5px black;
}
@media only screen and (max-width:600px) {
	#image-float{
		float:none;
		margin:30px;
		width:300px;
	}
		#div-float{
			overflow:auto;
			border:solid 5px white;
			background: black;
		}
}